.avatar {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  object-position: center;
}

.avatar--round {
  border-radius: 50%;
}
