.btn {
  width: 200px;
  padding: 20px;
  border-radius: 5px;
  background: #000;
  color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}

.btn--purple {
  background: linear-gradient(20deg, #1c2f4b, #615cbf);
}

.btn--purple:hover {
  background: linear-gradient(20deg, #192942, #5651a8);
}

.btn--purple:active {
  background: linear-gradient(20deg, #1c2f4b, #615cbf);
}
