.container {
  width: 800px;
  padding: 40px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    width: 800px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 600px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 100%;
  }
}
